<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="menu2::head">
<meta charset="UTF-8">
</head>
<script type="text/javascript"
	th:src="@{/script/jsweb/apoderado/frmApoderado.js}"></script>

<script type="text/javascript">
	$(document).ready(function() {
		//Asegurate que el id que le diste a la tabla sea igual al texto despues del simbolo #
		$('.apoderadoList').DataTable();
	});
</script>
<style>
	#content{
		display:none !important;
	}
</style>
<body>
	<nav th:replace="menu2::menu"></nav>
	<div class="card">
		<div class="card-header badge-danger">LISTADO DE APODERADOS</div>
		<div class="card-body">

			<h3 align="center">REGISTRO DE APODERADOS</h3>
			<button type="button" id="btnagregarapoderado"
				class="btn btn-primary">Registrar Apoderado</button>
			<hr />
			<div id="mensaje"></div>

			<table id="tblapoderado"
				class="table table-striped table-bordered table-hover apoderadoList">
				<thead class="thead-dark">
					<tr>
						<th scope="col">IDApoderado</th>
						<th scope="col">IDPersona</th>
						<th scope="col">Nombre Completo</th>
						<th scope="col">Estado</th>
						<th scope="col">Actualizar</th>
						<th scope="col">Eliminar</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="apoderado:${lstApoderado}">
						<td th:text="${apoderado.idapoderado}"></td>
						<td th:text="${apoderado.idpersona}"></td>
						<td th:text="${apoderado.nombrecompleto}"></td>
						<td th:text="${apoderado.estado}"></td>
						<td>
							<button type="button" class="btn btn-info btnactualizarapoderado"
								th:data-codapoderado="${apoderado.idapoderado}"
								th:data-codpersona="${apoderado.idpersona}"
								th:data-nomcompleto="${apoderado.nombrecompleto}"
								th:data-estado="${apoderado.estado}">Actualizar</button>
						</td>
						<td>
							<button type="button" class="btn btn-danger btneliminarapoderado"
								th:data-codapoderado="${apoderado.idapoderado}"
								th:data-codpersona="${apoderado.idpersona}"
								th:data-nomapoderado="${apoderado.nombrecompleto}">Eliminar</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>


	<!-- Modal Registrar y Actualizar Apoderado -->
	<div class="modal fade" id="modalapoderado" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Apoderado</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<label for="cbopersona">Seleccione persona</label> <select
						class="form-control" id="cbopersona">
						<option value="0">Seleccione</option>
						<option th:each="persona :${lstpersona}"
							th:text=${persona.nombres} th:value="${persona.idpersona}"></option>
					</select> <span id="errorpersona" class="text-danger"></span> <input
						type="hidden" id="hddidapoderado" value="0" />
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Cerrar</button>
					<button type="button" id="btnregistrarapoderado"
						class="btn btn-primary">Guardar</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Modal Eliminar Apoderado -->
	<div class="modal fade" id="modaleliminarapoderado" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Apoderado</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<label id="mensajeeliminar"></label> <input type="hidden"
						id="hddidapoderadoeliminar" value="0">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Cerrar</button>
					<button type="button" id="btneliminarapoderado"
						class="btn btn-danger">Eliminar</button>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="menu2::barra"></div>
	<div>
		<script
			src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
		<script
			src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
		<link rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">
		<link rel="stylesheet"
			href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">



		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
		<script src="../css/icons/script.js"></script>
		<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		<script src="../css/icons/script.js"></script>
	</div>

</body>
</html>