*, *:after, *:before {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.blue {
	background: #22242A;
	color: #fff;
}

.navbar {
	padding: 6px ;
}

#logo {
	display: inline-block;
	margin-top: 7px;
	color: #fff;
}

#link {
	color: #fff;
	font-weight: bold;
	margin: 0 20px;
}

#link:hover{
	color: #00aae4;
	
}

i {
	margin: 0 5px;
}

#icon{
	min-width: 50px;
}
.btn1{
	position: absolute;
	left: 210px;
}
#sidebarCollapse {
	color: #fff;
	background: transparent;
	outline: none;
	margin: 0 20px;
}

#sidebarCollapse:hover {
	color: #2abdfc;
	background: #fff;
	outline: none;
}

.wrapper {
	display: flex;
	width: 100%;
	align-items: stretch;
	background-color: #E7EBEE;
}

#sidebar {
	position: fixed;
	top: 0;
	color: #fff;
	background: #2f323a;
	margin-top: 40px;
	padding-top: 30px;
	left: 0;
	width: 250px;
	height: 100%;
	transition:  0.7s;
	overflow: hidden;
	z-index: 1;
	
	min-height: 100vh;
    max-height: 100vh;
    overflow-y: scroll;			
}
#sidebar::-webkit-scrollbar {
    width: 0 !important;
}
#sidebar h3{
	font-size: 18px;
	text-align: center;
	margin-top: 20px;
}
#sidebar.active {
	margin-left: -250px;
}

#sidebar .sidebar-header {
	padding: 10px;
	background: #2F323A;
	font-size: 18px;
	text-decoration: none;
	
}

#sidebar ul.components {
	padding: 10px 0px;
}

#sidebar ul p {
	padding: 10px;
	font-size: 18px;
	display: block;
}

#sidebar ul li a {
	position: relative;
	padding: 0 10px;
	line-height: 50px;
	text-align: start;
	font-size: 18px;
	display: block;
	color: #fff;
	letter-spacing: 1px;
	white-space: nowrap;
	
	
	
}

#sidebar ul li a:hover {
	color: #fff;
	background: #19B3D3;
	text-decoration: none;
}

#sidebar ul li.active>a, a[aria-expanded="true"] {
	color: #fff;
	background: #8a5fff;
}

a[data-toggle="collapse"] {
	position: relative;
}

.dropdown-toggle::after {
	display: block;
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
}

#content {
	width: 100%;
	padding: 40px;
	min-height: 100vh;
	transition: all 0.3s;
	margin-top: 70px;
}

@media ( max-width :800px) {
	#sidebar {
		margin-left: -250px;
	}
	#sidebar.active {
		margin-left: 0px;
	}
	#sidebarCollapse span {
		display: none;
	}
	.card {
		width: 100%;
	}
}

@media ( max-width :400px) {
	#sidebar {
		margin-top: -20px;
	}
	#logo {
		display: none;
	}
}

.profile_image {
	width: 100px;
	height: 100px;
	border: 8px ridge white;
	border-radius: 100px;
	margin-bottom: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;	
}
#content {
	width: 100%;
	padding: 40px;
	min-height: 100vh;
	transition: all 0.3s;
	margin-top: 70px;
	display:flex;
	flex-direction: row;
	background-color: #E7EBEE;
	margin-left: 225px;
	flex-wrap: wrap;
}

.principal{
	border: 1px  solid red;	
    
}
.principal1{
	
	padding: 4px;
    
}
.principal2{
	
	padding: 4px;
   
}
.profil-box-header{
	margin:auto;
	width: 325px;
	height: 140px;
	display:flex;
	flex-direction: row;
	border-radius: 10px 10px 10px 10px;
	background-color: #3498db;
	box-shadow:  0 0 4px #000000;
}
.perfil{
	height: 100px;
	height: 100px;
    width: 100px;
    border: 8px ridge white;
    margin: 10px;
    border-radius: 50%;
    
}
.profil-vertical{
	display:flex;
	flex-direction: column;
}
.profil-box-header .profil-vertical h2{
	margin-top: 34px;
	font-size: 17px;
	color: white;
	
}
.profil-box-header .profil-vertical div{
	font-size: 10px;
	color: white;
}
.codigo-box{
	
	padding: 7px;
	margin-top:16px;
	width: 325px;
	height: 40px;
	display:flex;
	flex-direction: row;
	border: 3px solid white ;
	box-shadow:  0 0 4px #000000;
	border-radius: 10px 10px 10px 10px;
	text-align: center;
}
.codigo-box span {
	height:22px;
	width:60px;
	background-color: #3498db;
	border-radius: 5px 5px 5px 5px; 
	margin-left: 160px;
	color: white;
}
.codigo-box {
	font-size: 15px;
}
.historial-academico{
	height:325.66px; 
	width:310px;
	margin: auto;
	box-shadow:  0 0 4px #000000;
	border-radius: 10px 10px 10px 10px;
}
.principal2 .historial-academico .logo-academico i{
	font-size: 2.4em;
    display: block;
    float: left;
    margin-right: 15px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #fff;
    background-color: #428bca;
    border-radius:50%; 
}
.principal2 .historial-academico  a{
	color: #428bca;
}
.dropdown a:hover{
	text-decoration: none;
}
#dropdownMenuLink{
	color: #fff;
	font-weight: bold;
	margin: 0 20px;
	background-color: #22242A;
	border-color: #22242A;
	
}
.dropdown{
	margin-left: 900px;
}
#dropdownMenuLink:hover{
	color: #00aae4;
}
.dropdown:checked{
	text-decoration: none;
}
