<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="menu2::head">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<nav th:replace="menu2::menu"></nav>
	<div class="container">
		<div class="row">
			<div class="col-sm"></div>
			<div class="col-lg">
				<form th:action="@{/Registrar}" th:object="${usuarioForm}" method="post">				
					<div class="form-group">
						<label for="exampleInputEmail1">Nombre de Usuario</label> <input th:field="*{username}" type="text"
							class="form-control" id="exampleInputEmail1"
							aria-describedby="emailHelp">
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1">Password</label> <input th:field="*{password}"
							type="password" class="form-control" id="exampleInputPassword1">
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1">Nombre</label> <input th:field="*{nombre}" type="text"
							class="form-control" id="exampleInputPassword1">
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1">Apellido</label> <input th:field="*{apellido}"
							type="text" class="form-control" id="exampleInputPassword1">
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1">DNI</label> <input th:field="*{dni}"
							type="text" class="form-control" id="exampleInputPassword1">
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1">Gmail</label> <input th:field="*{gmail}"
							type="email" class="form-control" id="exampleInputPassword1">
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1">Cargo</label> <input th:field="*{cargo}"
							type="text" class="form-control" id="exampleInputPassword1">
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1">Celular</label> <input th:field="*{celular}"
							type="text" class="form-control" id="exampleInputPassword1">
					</div>
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>

			</div>
			<div class="col-sm"></div>
		</div>
	</div>
</body>
</html>