<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="menu2::head">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<nav th:replace="menu2::menu"></nav>
	<br>
	<br>
	<br>
	<table class="table">
		<thead class="thead-dark">
			<tr>
				<th scope="col">ID usuario</th>
				<th scope="col">Nombre de usuario</th>
				<th scope="col">Password</th>
				<th scope="col">Nombre</th>
				<th scope="col">Apellido</th>
				<th scope="col">DNI</th>
				<th scope="col">Gmail</th>
				<th scope="col">Cargo</th>
				<th scope="col">Celular</th>
			</tr>
		</thead>

		<tbody>
			<tr th:each="usuario:${usuariolst}">
				<td th:text="${usuario.userid}"></td>
				<td th:text="${usuario.username}"></td>
				<td th:text="${usuario.password}"></td>
				<td th:text="${usuario.nombre}"></td>
				<td th:text="${usuario.apellido}"></td>
				<td th:text="${usuario.dni}"></td>
				<td th:text="${usuario.gmail}"></td>
				<td th:text="${usuario.cargo}"></td>
				<td th:text="${usuario.celular}"></td>
				<td><a class="btn btn-warning">Editar</a> <a
					class="btn btn-danger">Eliminar</a></td>
			</tr>
		</tbody>
	</table>
	<a th:href="@{/Registrar}">Registrar Usuario</a>


</body>
</html>