<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="menu2::head">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<nav th:replace="menu2::menu"></nav>
	<div class="container">
		<div class="row">
			<div class="col-sm"></div>
			<div class="col-lg">
				<form th:action="@{/Matriculas/RegistrarMatricula}"
					th:object="${matriculaForm}" method="post">
					<div class="form-group">
						<label for="exampleInputEmail1">Codigo Alumno</label> <input
							th:field="*{idAlumno}" type="text" class="form-control"
							id="exampleInputEmail1" aria-describedby="emailHelp">
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1">Codigo Usuario</label> <input
							th:field="*{idUsuario}" type="text" class="form-control"
							id="exampleInputPassword1">
					</div>
					<div class="form-group">
						<label for="exampleFormControlSelect1">Nivel </label> <select
							th:field="*{nivel}" class="form-control"
							id="exampleFormControlSelect1">
							<option th:each="n : ${lstNivel}" th:value="${n.idNivel}"
								th:text="${n.nombre}"></option>
						</select>
					</div>
					<div class="form-group">
						<label for="exampleFormControlSelect1">Grado </label> <select
							th:field="*{grado}" class="form-control"
							id="exampleFormControlSelect1">
							<option th:each="g : ${lstGrado}" th:value="${g.idGrado}"
								th:text="${g.nombre}"></option>
						</select>
					</div>
					<div class="form-group">
						<label for="exampleFormControlSelect1">Seccion </label> <select
							th:field="*{seccion}" class="form-control"
							id="exampleFormControlSelect1">
							<option th:each="s : ${lstSeccion}" th:value="${s.idSeccion}"
								th:text="${s.nombre}"></option>
						</select>
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1">Estado</label> <input
							th:field="*{estado}" type="text" class="form-control"
							id="exampleInputPassword1">
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1">Fecha</label> <input
							th:field="*{fecha}" type="date" class="form-control"
							id="exampleInputPassword1">
					</div>
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>

			</div>
			<div class="col-sm"></div>
		</div>
	</div>
</body>
</html>